extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Archive';
    - page.description = 't3hmun\'s web-log archive page.';
    - page.url = 'archive.html';
block content
    section
        h1 Archive
        h2 Recent Posts
        each post in posts.reverse()
            section
                h3(class='index-header')
                    a(href=`${site.baseUrl}/${posts.dir}/${post.urlName}`) #{post.title}
                div(class='index-date-footer')= post.date
                if post.description
                    p(class='index-description')= post.description

