extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Home';
    - page.description = 't3hmun\'s web-log home page';
    - page.url = 'index.html';
block content
    section
        h1 Home
        p.
            Welcome to my website.
            It is not yet complete.
            Site is generated from markdown and pug files using a Node.Js script that I wrote.
        h2 Recent Posts
        each post in posts.slice().reverse()
            section
                h3(class='index-header')
                    a(href=`${site.baseUrl}/${posts.dir}/${post.urlName}`) #{post.title}
                div(class='index-date-footer')= post.date
                if post.description
                    p(class='index-description')= post.description


