extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Home';
    - page.description = 't3hmun\'s web-log home page';
    - page.url = 'index.html';
block content
    section
        h1 Home
        p This is t3hmun's web-log.
        h2 Recent Posts
        each post in posts.reverse()
            section
                h3
                    a(href=`${site.baseUrl}/${posts.dir}/${post.urlName}`) #{post.title}
                p= post.date
                if post.description
                    p= post.description


