extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Home';
    - page.description = 't3hmun\'s web-log home page';
    - page.url = 'index.html';
block content
    section
        h1 Home
        p.
            Welcome to my web-log.
            This site is a collection of things I am doing or learning and want to remember.
        p.
            This site is generated from Pug templates and Markdown files for the posts.
            I wrote #[a(href="https://github.com/t3hmun/t3hmun.github.io") the site generation scripts] in order to
            learn a bit of Javascript with Node.Js.
        h2 Recent Posts
        each post in posts.slice().reverse()
            section
                h3(class='index-header')
                    a(href=`${site.baseUrl}/${posts.dir}/${post.urlName}`) #{post.title}
                div(class='index-date-footer')= post.date.toDateString()
                if post.description
                    p(class='index-description')= post.description


